{
  "cniVersion":"0.3.0",
  "name":"mynet",
  "plugins": [
    {
      "bridge":"kube-bridge",
      "ipam": {
        "subnet":"{{ k8s_pod_network_cidr }}",
        "type":"host-local"
      },
      "isDefaultGateway": true,
      "name":"kubernetes",
      "type":"bridge"
    },
    {
      "capabilities": {
        "portMappings":true,
        "snat":true
      },
      "type":"portmap"
    }
  ]
}
